* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 5px;
}

input {
    border: 1px solid gray;
    padding: 12px;
    border-radius: 8px;
    width: 30%;
    outline: none;
}

.suggestion-wrapper {
    width: 30%;
    overflow-y: auto;
    max-height: 400px;
    border: 1px solid rgb(163, 135, 110);
    display: none;
    background-color: transparent;
}

.suggestion-visible {
    display: block;
}

.dropdown-item {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: bisque;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(175, 219, 204);
}